
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayOutHome.cshtml";
}

<h3>Thông tin giao hàng</h3>

<div class="col-sm-9 padding-right">
   @* <i>Thông tin giao hàng  </i>*@
    
    <div class="row">
        @{
            int idAcc = Convert.ToInt16(Session["id"]);
            if (idAcc != 0)
            {
                <div class="col-sm-6">

                    <label class="control-label">Họ và tên</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px;">
                            <i class="fas fa-user"></i>
                        </div>
                        <input class="form-control" type="text" value="@ViewBag.HoTen" id="name" />
                    </div>

                    <label class="control-label" style="margin-top: 15px">Email</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px">
                            <i class="far fa-envelope"></i>
                        </div>
                        <input class="form-control" type="text" value="@ViewBag.Email" id="email" />
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <label class="control-label">Địa chỉ</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px;">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <input class="form-control" type="text" value="@ViewBag.address" id="address" />
                    </div>

                    <label class="control-label" style="margin-top: 15px">Số điện thoại</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px;">
                            <i class="fas fa-phone"></i>
                        </div>
                        <input class="form-control" type="text" value="@ViewBag.Phone" id="phone" />
                    </div>
                </div>

            }
            else
            {
                <div class="col-sm-6">

                    <label class="control-label">Họ và tên</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px;">
                            <i class="fas fa-user"></i>
                        </div>
                        <input class="form-control" type="text" placeholder="Nhập họ và tên" id="name" />
                    </div>

                    <label class="control-label" style="margin-top: 15px">Email</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px">
                            <i class="far fa-envelope"></i>
                        </div>
                        <input class="form-control" type="text" placeholder="Nhập email" id="email" />
                    </div>
                </div>

                <div class="col-sm-6 ">
                    <label class="control-label">Địa chỉ</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px;">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <input class="form-control" type="text" placeholder="Nhập địa chỉ" id="address" />
                    </div>

                    <label class="control-label" style="margin-top: 15px">Số điện thoại</label>
                    <div class="input-group ">
                        <div class="input-group-addon" style="width: 40px;">
                            <i class="fas fa-phone"></i>
                        </div>
                        <input class="form-control" type="text" placeholder="Nhập số điện thoại" id="phone" />
                    </div>
                </div>

            }
        }


    </div>

   <div style="margin-top: 15px" > @*text-align: center;*@
       <a id="checkOut" class="btn btn-default float-right"><i class="fas fa-cart-arrow-down mr-2" style="margin-right:10px"></i>Thanh toán</a>
   </div>
</div>
