@model PagedList.IPagedList<book.Models.Entities.Import>
@using book.Global
@using PagedList.Mvc;
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách phiếu nhập</h2>
@{
    var pageNumber = 1;
    var pageSize = 10;
    if (Request.QueryString["page"] != null)
    {
        pageNumber = Int32.Parse(Request.QueryString["page"]);
    }
    if (Request.QueryString["pageSize"] != null)
    {
        pageSize = Int32.Parse(Request.QueryString["pageSize"]);
    }

    var index = (pageNumber - 1) * pageSize + 1;

}
<div class="row">
    <div class="col-sm-6">
        <p>
            <a class="btn btn-warning" data-toggle="modal" data-target="#myModal"><i class="fa fa-cloud-download" style="margin-right: 10px"></i>Nhập sách</a>
        </p>
    </div>

    
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog"  style="width: 1000px">

        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Phiếu nhập</h4>
            </div>
            <div class="modal-body" style="background-color: aliceblue;">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input id="bookid" class="hidden" type="text"/>
                            <input id="book" type="text" class="form-control" name="msg" placeholder="Nhập tên hoặc mã sách">
                        </div>
                    </div>
                    
                    <div class="col-sm-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></span>
                            <input id="amount" type="number" class="form-control" name="msg" placeholder="Nhập SL">
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            <input id="price" type="number" class="form-control" name="msg" placeholder="Nhập giá">
                        </div>
                    </div>
                    
                    <div class="col-sm-2" style="text-align: center">
                        <a class="btn btn-facebook" id="btnNhap">Nhập</a>
                    </div>
                </div>
                <div class="row" style="padding: 10px 20px">
                    <table class="table   table-bordered" style="background-color: white;">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sách</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                        <tr>
                            <th colspan="5"></th>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4"><strong>Tổng tiền</strong></td>
                            <td style="text-align: right" id="totalPrice"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" id="btnGhiNhan">Ghi nhận</button>
            </div>
        </div>

    </div>
</div>
<table class="table   table-bordered">
    <tr>
        <th>STT</th>
        <th>
            Người nhập
        </th>
        <th>
            Ngày nhập
        </th>
        <th>Tổng tiền</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width: 50px">
            @index
            @{
                index++;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Name)
        </td>
        <td>
            @MyFunction.convert2String(item.CreatedDate)
        </td>
        <td  style="text-align: right">
            @MyFunction.convert2String(item.TotalPrice)đ
        </td>
        <td>
            <a class="btn btn-warning" data-toggle="modal" data-target="#myModal"><i class="fa fa-cloud-download" style="margin-right: 10px"></i>Nhập sách</a>
  
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))


@section scripts{
    <script src="~/Scripts/import.js"></script>
}