.btn-default{
     background-color:#FE980F;
}
.mt-2{
    margin-top: 10px;
}
.input-group-append{
        margin-left: -1px;
        display: flex;
}
.input-group{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.input-group-append>.btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*.badge {
    background: #D2312D;
    color: #FFF;
    font-size: 10px;
    font-weight: normal;
    height: 16px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    right: -8px;
    top: -3px;
}*/

.trash: hover{
    color: #fe980f;
}


