
@{
    ViewBag.Title = "Inf";
    Layout = "~/Views/Shared/_LayOutHome.cshtml";
}
<div>
    <h2>Thành viên: </h2>
    <div>
        <p>Nguyễn Xuân Sơn: Admin</p>
    </div>
    <div>
        <p>
            Nguyễn Hữu Mạnh: Người dùng
        </p>
    </div>
</div>

