@model IEnumerable<book.Models.Entities.Book>

@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_LayOutHome.cshtml";
}

<h2>TimKiem</h2>

<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Sách bán chạy</h2>
        @{

        }
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="/BookStore/Detail/@item.ID">
                                <img src=@item.MainImage class="img-book" style="z-index:-11" alt="" />
                            </a>
                            <br />
                            @Html.ActionLink(item.Name, "Detail", new { id = item.ID }, new { @class = "text-black" })


                            @*<p>@item.Name</p>*@
                            <p>@item.Author</p>
                            <p>@item.Price  đ</p>
                        </div>

                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="/ShoppingCart/Add/@item.ID" title="Thêm vào giỏ hàng"><i class="fa fa-cart-plus"></i></a></li>
                            <li><a href="#" title="Thêm vào yêu thích"><i class="fa fa-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>