@{
    Layout = null;
}

<div class="left-sidebar">
    <h2>Thể loại</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->

        @foreach (var item in ViewBag.listtheloai)
        {
            var name = item.Name;
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a class="pointer theloai" href="/BookStore/TheLoai/@item.ID">@item.Name</a>
                       @* @Html.ActionLink(name, "TheLoai","BookStore", new { id = item.ID },null)*@
                    </h4>
                </div>
            </div>
        }
     

    </div><!--/category-products-->

    <div class="brands_products">
        <!--brands_products-->
        <h2>Nhà xuất bản</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var item in ViewBag.listnxb)
                {
                    <li><a href="/BookStore/NXB/@item.id"> <span class="pull-right"></span>@item.TenNhaXuatBan</a></li>
                }
            </ul>
        </div>
    </div><!--/brands_products-->
    @*<div class="price-range">
            <!--price-range-->
            <h2>Price Range</h2>
            <div class="well text-center">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
            </div>
        </div><!--/price-range-->*@

    <div class="shipping text-center">
        <!--shipping-->
        <img src="~/Content/images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->

</div>





